.box.box_image.well
  = render(state: :edit_marker)

  = render({ state: :image }, @box.source, @box.link_to)

  - if @box.title.present?
    %h3
      = display_field(@box, :title)

  - if @box.caption.present?
    %p.caption
      = display_field(@box, :caption)