span.marker {
  display: block;
  height: 1px;
  position: absolute;
  width: 1px;
}

a.marker {
  background: image-url('edit.png') no-repeat;
  display: none;
  height: 16px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  text-align: left;
  text-indent: -20000px;
  width: 16px;
  z-index: 11;

  &:hover {
    opacity: 1;
  }
}